@using QuizApp.Models
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title QuizT</title>
    <link href="~/Content/css/reset.css" rel="stylesheet" />

    <link rel="stylesheet/less"
          type="text/css"
          href="@Url.Content("~/content/less/style.less")" />
    <script src="//cdn.jsdelivr.net/npm/less@3.13"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body >
    <header>
        <div class="container">
            <a href="/" class="logo">
                <img src="~/Content/images/logo-TechQuizz.png" />
            </a>
            <ul class="nav navbar-right">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle btn btn-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Menu
                    </a>
                    <div class="dropdown-menu">
                        @if (Session["user_role"] != null)
                        {

                            @Html.ActionLink("Quiz Admin", "Index", "Quizzs", new { area = "" }, new { @class = "dropdown-item" })
                            <br />
                            @Html.ActionLink("Gestion utilisateur", "Index", "Users", new { area = "" }, new { @class = "dropdown-item" })
                            @*@Html.ActionLink("Gestion utilisateur", "Index", "Users"}*@

                            <br />
                            @Html.ActionLink("Gestion categories", "Index", "QuizCategory", new { area = "" }, new { @class = "dropdown-item" })
                            <br />
                            @Html.ActionLink("Gestion des Questions", "Index", "QuizQuestion", new { area = "" }, new { @class = "dropdown-item" })
                            <br />
                            @Html.ActionLink("Reponse Admin", "Index", "Reponses", new { area = "" }, new { @class = "dropdown-item" })
                            <br />
                            @Html.ActionLink("Déconnexion", "Logout", "Login", new { area = "" }, new { @class = "dropdown-item" })

                        }

                </li>
                   
             </ul>
        </div>
    </header>
    <!--<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>-->
    @*@Html.ActionLink("QUIZ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
    <!--</div>-->
      @*<div class="navbar-collapse collapse">
            
        </div>*@
    <!--</div>
    </div>-->
    <div class="body-content">
        <div class="container">
            @RenderBody()
        </div>
    </div>
    <footer>
        <p>&copy; @DateTime.Now.Year - Mon application ASP.NET</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
