@{
    ViewBag.Title = "Index";
}
<div class="form-color">

    <h2>Espace Admin</h2>
    @Html.ActionLink("Quiz Admin", "Index", "Quizzs")
    <br />
    @Html.ActionLink("Gestion utilisateur", "Index", "Users")
    @*@Html.ActionLink("Gestion utilisateur", "Index", "Users"}*@

    <br />
    @Html.ActionLink("Gestion categories", "Index", "QuizCategory")
    <br />
    @Html.ActionLink("Gestion des Questions", "Index", "QuizQuestion")
    <br />
    @Html.ActionLink("Reponse Admin", "Index", "Reponses")

</div>
