@using QuizApp.Models

@model QuizApp.Models.QuizQuestion

@{
    ViewBag.Title = "Déroulement du QCM";
}

<h2>Qcm </h2>
@Model.QstText


@using (Html.BeginForm("Next", "QuizManager", FormMethod.Post))
 {
            @Html.AntiForgeryToken()

            foreach (QuizReponse rep in Model.Reponses)
            {
                if (!Model.IsMultiple)
                {
                    @Html.RadioButton("selectedSimpleRep", @rep.Id)
                }
                if (Model.IsMultiple)
                {
                    <input type="checkbox" name="selectedRep[]" value="@rep.Id" />
                }
                @rep.RespText
                <br />
            }
            <input type="submit" value="Suivant" class="btn btn-default" />
        }



    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }